torch
numpy
# Computer Vision
opencv-python
Pillow
matplotlib
# Detectron2 dependencies
cython
fvcore
iopath
pycocotools
timm
# Detectron2 — install separately
# pip install git+https://github.com/facebookresearch/detectron2.git
